.navigation {
  background: darken($backdrop, 10%);
  border-bottom: 3px solid darken($backdrop, 15%);

  .navbar-brand {
    font-family: 'Monoton-Regular', 'Roboto';
    font-style: italic;
    font-size: 40px;
    color: $primary;
    padding: 0;

    &:hover {
      color: $secondary;
    }
  }
}