.data-file-list-item {
  background: inherit;
  padding: 10px;

  .file-type {
    .badge {
      padding: 8px;
      margin-right: 10px;
      border: 1px solid $angels-gray;
      border-radius: 4px;
      font-weight: 400;

      &.badge-rule {
        border-color: $tangerine;
        color: $tangerine;
      }

      &.badge-data {
        border-color: $teal;
        color: $teal;
      }

      &.badge-invalid {
        border-color: $red;
        color: $red;
      }
    }
  }

  .file-name {
    font-size: 18px;
  }

  .file-delete,
  .file-select {
    .btn {
      padding: 0;
    }
  }

  .file-delete {
    .octicons {
      fill: $angels-gray;

      &:hover {
        fill: $white-chocolate;
      }
    }
  }

  .file-select {
    .inactive {
      fill: $angels-gray;

      &:hover {
        fill: $white-chocolate;
      }
    }

    .active {
      fill: $green;

      &:hover {
        fill: lighten($green, 5%);
      }
    }
  }
}