// activity indicator
$spinkit-size         : 60px;
$spinkit-spinner-color: #F28120;

// pager
$pager-color: #AAA;

// lens palette
$white          : #FFF;
$white-chocolate: #F8F8F8;
$ivory          : #FFFFF0;
$designo-silver : #F5F5F5;
$overcast       : #AAA;
$angels-gray    : #999;
$devils-gray    : #666;
$charcoal       : #444;
$black          : #000;
$tangerine      : #F28120;
$metallic-gold  : #FFD733;
$khaki          : #FBFF26;
$sky-blue       : #6ADDFF;

// themes
$primary: $cyan;
$secondary: $tangerine;
$ternary: $teal;

@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src: url('fonts/#{$name}.ttf') format('truetype');
  }
}

@include font-face('Monoton-Regular');