<nav class="navigation navbar fixed-top">
  {{#link-to "dashboard" class="navbar-brand"}}Rule Gaze{{/link-to}}
</nav>
<div class="dashboard container">
  <div class="row">
    {{dropzone-container
      model=model
      onFileAdd=(route-action "uploadData")
      onClickDelete=(route-action "deleteFile")
      onClickSelect=(route-action "selectFile")
    }}
  </div>
</div>